:root{
  --lightBlue:#31C3BD;
  --lightBlueHover:#65E9E4;
  --lightYellow:#F2B137;
  --lightYellowHover:#FFC860;
  --DarkNavy:#1A2A33;
  --SemiDarkNavy:#1F3641;
  --silver:#A8BFC9;
  --SilverHover:#DBE8ED;
  --l:40px;
  --m:24px;
  --s:20px;
  --xs:16px
}

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background: #1A2A33;
  }
  
.container-figuras{
  width: 200px;
  height: 100px;
  background-color: brown;
}
.container-pick-player{
  background-color: burlywood;
}
.container-new-game{
  background-color: cyan;
}
.container-new-player{
  background-color: darkorchid;
}
.container-select-player{
  background-color: darkseagreen;
}