:root{
  --lightBlue:#31C3BD;
  --lightBlueHover:#65E9E4;
  --lightYellow:#F2B137;
  --lightYellowHover:#FFC860;
  --DarkNavy:#1A2A33;
  --SemiDarkNavy:#1F3641;
  --silver:#A8BFC9;
  --SilverHover:#DBE8ED;
  --l:40px;
  --m:24px;
  --s:20px;
  --xs:16px
}

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background: #1A2A33;

  }
.container-figuras{
  display: grid;
 place-content: center;

 

}
.container-figuras .figure-x,.container-figuras .figure-o{

  Width: 25.8px;
    Height: 26.84px;
    Top: 240.56px;
    Left: 717.49px;
 
}


.container-pick-player{
display: grid;
 place-content: center;
 Width :460px;
Height :205px;
margin: auto;
background-color: var(--SemiDarkNavy);
border-radius: 15px;

}
.container-pick-player .container-title-player{
  color: var(--silver);
  font-size: var(--xs);
}
.container-inform p {
  color: var(--silver);
  
}

.container-select-player{
  width: 412px;
  height: 72px;
  top:68px;
  left:24px;
  background-color: var(--DarkNavy);
  border-radius: 10px;
}

.container-new-game .container-new-player{
 display: flex;
 flex-direction: column;


}

.container-new-game .container-new-player .button-1 {
Width :340px;
 Height :60px;
 border-radius :15px;
background-color: var(--lightYellow);

} 
.container-new-game .container-new-player .button-2 {
  Width :340px;
Height :60px;
border-radius :15px;
background-color: var(--lightBlue);

}